:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/* Paleta de cores do site  */
  --primary:#16213E;
  --secondary:#0f3460;
  --terceary:#533483;
  --red:#e94560;
  --soft-white:#f1f1f1;
  --black:#111;
  --white:#fefefe;
  --gray:#22222222;
  --green:#80AD74;


}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}